[Desktop Entry]
Version=1.0
Type=Application
Name=LL-Connect 3
GenericName=Fan Controller
Comment=Linux LL-Connect 3 driver and application for Lian Li SL-Infinity fans
Exec=LLConnect3
Icon=lconnect3
Terminal=false
Categories=System;Settings;HardwareSettings;
StartupNotify=true
StartupWMClass=LLConnect3
Keywords=fan;cooling;lian li;rgb;controller;

